* {
  font-family: 'Papyrus', sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(192, 192, 192);
}

.main-box {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: auto;
  margin-top: 50px;
  width: 500px;
}

h1 {
  font-weight: bold;
}

.recipe-list {
  list-style: none;
}